---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

  {% include gh/index/description.html %}
  {% include gh/index/carousel.html %}
  
  </div>
  <div class="col-md-4">  

    {% include gh/index/time.html %}

    {% include gh/index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" featured=site.data.theme.featured-subjects max=site.data.theme.featured-subjects-max %}

    {% include gh/index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" featured=site.data.theme.featured-locations max=site.data.theme.featured-locations-max %}

    {% include gh/index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include gh/index/data-download.html %}

  </div>
</div>